{% extends 'base.html.twig' %}

{% block title %}Past Orders{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2 class="mb-4">Past Orders</h2>
    <div class="accordion" id="orderAccordion">
        {% for sale in sales %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ sale.id }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ sale.id }}" aria-expanded="false" aria-controls="collapse{{ sale.id }}">
                    Sale - Order #{{ sale.id }} - {{ sale.date|date('Y-m-d H:i') }}
                </button>
            </h2>
            <div id="collapse{{ sale.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ sale.id }}" data-bs-parent="#orderAccordion">
                <div class="accordion-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Sale Details</h5>
                            <p>User: {{ sale.user.name }}</p>
                            <p>Car: {{ sale.car.make }} {{ sale.car.model }}</p>
                            <p>Date: {{ sale.date|date('Y-m-d H:i') }}</p>
                            <p>Total Cost: {{ sale.totalCost }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
